BODY 
{
   FONT-FAMILY: Verdana;
   FONT-WEIGHT: normal;
   FONT-SIZE: 10pt;
}
TABLE, TH, TD
{
    FONT-FAMILY: Verdana;
    FONT-WEIGHT: normal;
    font-size: 100%;
}
PRE
{
    FONT-FAMILY: Monospace,Courier New;
    FONT-WEIGHT: normal;
    FONT-SIZE: 10pt;
    BACKGROUND: WhiteSmoke;
    COLOR: Black;
}
PRE B
{
    letter-spacing: .1em; /* opens kerning on bold in Syntax/Code */
}
H1
{
    MARGIN-TOP: 0pt;
    FONT-WEIGHT: bold;
    FONT-SIZE: 130%;
    MARGIN-BOTTOM: 0pt;
    PADDING-BOTTOM: 0px;
    COLOR: navy;
    PADDING-TOP: 0pt;
    FONT-FAMILY: Verdana;
    BACKGROUND-COLOR: #eeeeee;
    TEXT-ALIGN: center
}
H2
{
    MARGIN-TOP: 0pt;
    FONT-WEIGHT: bold;
    FONT-SIZE: 115%;
    MARGIN-BOTTOM: 0pt;
    PADDING-BOTTOM: 0pt;
    COLOR: maroon;
    PADDING-TOP: 0pt;
    FONT-FAMILY: Verdana
}
H3
{
    MARGIN-TOP: 7pt;
    FONT-WEIGHT: bold;
    FONT-SIZE: 100%;
    MARGIN-BOTTOM: 2pt;
    PADDING-BOTTOM: 0pt;
    COLOR: navy;
    PADDING-TOP: 0pt;
    FONT-FAMILY: Verdana
}
H4
{
    MARGIN-TOP: 0pt;
    FONT-WEIGHT: 800;
    FONT-SIZE: 100%;
    MARGIN-BOTTOM: 0pt;
    PADDING-BOTTOM: 0pt;
    COLOR: black;
    PADDING-TOP: 0pt;
    FONT-FAMILY: Verdana
}
UL,OL
{
    MARGIN-BOTTOM: 0pt;
    MARGIN-TOP: 0pt;
    PADDING-BOTTOM: 0pt;
    PADDING-TOP: 0pt;
}	
HR 
{ 
	color:DarkBlue; 
	background: DarkBlue; 
	border: 0; Height:1px;
}
TABLE
{ 
    BORDER-COLLAPSE: collapse;
}
TD
{
}
TH
{
    BACKGROUND: steelblue;
    COLOR: white;
    font-weight: bold;
    HEIGHT: 23px
}
SMALL
{
    font-size: 8pt;
}
.alternaterow 
{ 
   BACKGROUND-COLOR: lavender;
}
.banner
{
    FONT-FAMILY: Verdana;
    FONT-SIZE: 100%;
    BORDER-RIGHT: 1px;
    BORDER-TOP: 1px;
    BORDER-LEFT: 1px;
    BORDER-BOTTOM: 1px outset;
    BACKGROUND-COLOR: #9ccfff;
}
.projectname
{
	font: 8pt Verdana;
	font-style:italic;
}	
.topicname
{
	font:10pt Verdana;
	font-weight:bold;
}
.hotlinkbox
{
	position:absolute;
	left:-10px;
	top: 20px;
	margin-left:10pt;
	background:lightyellow;
	border:solid 1px black;
	width: 380px;
	padding:10px;
}
.contentpane
{
	margin-left:15pt;
	margin-right:10pt;
}
PRE.SyntaxBox 
{
	border: solid .1px black;
	padding: 7px ;
	margin-right: 10px;
	border-width: 1px;
	font-weight: bold;
	font-size: 10pt;
	background: #EEEEEE;
	overflow: auto;
	font-family: Courier New;
}
.outdent
{
	margin-left: -10px;
}
TABLE.detailtable
{
	border-style: solid;
	border-width: 1px;
	border-color: SteelBlue;
}
.tocbody  /*  body for the HTML Table of contents */
{
	font-size:8pt;
}

/* General code parsing */
.codec1
{color: blue;}
.codec2  /* Keywords */
{color: blue;font-weight:bold;}
.codec3
{color: blue;}
.codec4
{color: blue;}
.codec5  / * literal */
{color: YELLOW;}
.codec6
{color: blue;}
.codec7
{color: blue;}
.codec8
{color: blue;}
.codec9
{color: blue;}
.codec10
{color: blue;}

.codecomment
{color: green; }

.codestring
{color:  teal; }

.codestrong {
   border: black solid  1px;
   background-color: #FFD700;
   padding-left:1px;
   padding-right:1px;
}

.codestrike {
 text-decoration: line-through;
}


/* custom language styles that are attached to the wordfile.txt languages */
.vfpcode .programcontrol {color: blue;}
.vfpcode .functions {color: blue;}
.vfpcode .commands {color: blue;} 
.vfpcode .methods {color: blue;} 
.vfpcode .properties {color: blue; }
.vfpcode .classes {color: red; font-size: 120%; font-variant: small-caps;} 
.vfpcode .events {color: #483D8B;} 
.vfpcode .systemvars {color: blue;}

.vbcode .constants {color: blue; font-face: bold}
.vbcode .datatypes {color: darkblue;font-face: bold}
.vbcode .keywords {color: blue;} 
.vbcode .statements {color: blue;} 
.vbcode .functions {color: blue; }
.vbcode .depracated {color: grey; font-size: 120%; font-variant: small-caps;} 

.csharpcode .programcontrol {color: blue;}
.csharpcode .datatypes {color: blue; }
.csharpcode .literals {color: darkblue; } 
.csharpcode .operators {color:blue;} 
.csharpcode .preprocessor {color: lightblue;} 

.htmlcode .elements {color: darkred;  }
.htmlcode .attributes {color: red; }
.htmlcode .codestring {color: gray; background:;}

.xmlcode .elements {color: darkred; }
.xmlcode .attributes {color: red; }
.xmlcode .commands {color: darkred; font-weight:bold }
.xmlcode .codestring { color: gray; background: ; }